body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #d8c2ef;
}

form {
    background-color: #efeaf4;
    padding: 20px;
    border-radius: 20px;
}   

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.sendBtn {
    margin-bottom: 0;
    gap: 10px;
}

.btn {
    background-color: #a97bdf;
    border: none;
    padding: 10px 0px;
    border-radius: 20px;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

